body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-image: url(../assets/7327853_3633337.jpg);
}



@media screen and (min-width: 200px) and (max-width:767px) {
  p{
    margin:0;
    padding-bottom:20%;
  }

  .pra-footer svg{
    width: 10%;
    height:auto;
    margin-right: 2%;
    padding-right: 2%;
    color:#f1f1f1;
  }
  .pra-banner a{
    font-size: 10px;
    }

}

@media screen and (min-width:767px) {
p {
  margin:0 250px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label{
  display:none;
  }
#burger {
  display:none;
  }
  }
